<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Bachelor Eliminator Predictor</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body id="page-top">
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 my-auto">
          <div class="header-content">
            <h1 class="mb-5">Find out what week you'll be eliminated on The Bachelor or Bachelorette.</h1>
            <a href="#forms" class="btn btn-outline btn-xl js-scroll-trigger">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="forms">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h2 class="section-heading">I want to be a contestant on: </p>
            <div class="buttons">
              <a href="#bachelorButton" class="ml-3 btn btn-outline btn-xl form-picker" data-show="bachelor">The Bachelor</a>
              <a href="#bacheloretteButton" class="btn btn-outline btn-xl form-picker" data-show="bachelorette">The Bachelorette</a>

              <div class="row">
                <div class="col-12" id="bachelor-form">
                  <div class="row form-group">
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="name" value="" class="form-control input-lg" placeholder="Name"> </div>
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="age" value="" class="form-control input-lg" placeholder="Age"> </div>
                    <div class="col-xs-4 col-md-4">
                      <label>
                        Occupation:</label>
                      <select name="occupation">
                        <option value="1">Medicine</option>
                        <option value="2">Education</option>
                        <option value="3">Retail</option>
                        <option value="3">Child Care</option>
                        <option value="4">Corporate</option>
                        <option value="5">Service</option>
                        <option value="6">Entrepreneur</option>
                        <option value="7">Entertainment</option>
                      </select>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="hometown" value="" class="form-control input-lg" placeholder="Hometown">
                    </div>
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="height" value="" class="form-control input-lg" placeholder="Height (In)">
                    </div>
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="weight" value="" class="form-control input-lg" placeholder="Weight (In)">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-xs-3 col-md-3">
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <label>Hair Color</label>
                      <select name="hairColor">
                        <option value="1">Black</option>
                        <option value="2">Blonde</option>
                        <option value="3">Brunette</option>
                        <option value="4">Red</option>
                      </select>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <label>Eye Color</label>
                      <select name="eyeColor">
                        <option value="1">Blue</option>
                        <option value="2">Brown</option>
                        <option value="3">Green</option>
                        <option value="4">Black</option>
                      </select>
                      <div class="col-xs-3 col-md-3">
                      </div>
                    </div>

                  </div>
                  <div class="col-xs-12 col-md-12 form-group">
                    <input type="submit" value="Submit" data-form="bachelor" class="submit-form">
                  </div>


                  </form>
                </div>
                <div class="col-12" id="bachelorette-form">
                  <div class="row form-group">
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="name" value="" class="form-control input-lg" placeholder="Name"> </div>
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="age" value="" class="form-control input-lg" placeholder="Age"> </div>
                    <div class="col-xs-4 col-md-4">
                      <label>
                        Occupation:</label>
                      <select name="occupation">
                        <option value="1">Medicine</option>
                        <option value="2">Education</option>
                        <option value="3">Retail</option>
                        <option value="3">Child Care</option>
                        <option value="4">Corporate</option>
                        <option value="5">Service</option>
                        <option value="6">Entrepreneur</option>
                        <option value="7">Entertainment</option>
                      </select>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="hometown" value="" class="form-control input-lg" placeholder="Hometown">
                    </div>
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="height" value="" class="form-control input-lg" placeholder="Height (In)">
                    </div>
                    <div class="col-xs-4 col-md-4">
                      <input type="text" name="weight" value="" class="form-control input-lg" placeholder="Weight (In)">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-xs-3 col-md-3">
                      <label>Hair Color</label>
                      <select name="hairColor">
                        <option value="1">Black</option>
                        <option value="2">Blonde</option>
                        <option value="3">Brunette</option>
                        <option value="4">Red</option>
                      </select>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <label>Eye Color</label>
                      <select name="eyeColor">
                        <option value="1">Blue</option>
                        <option value="2">Brown</option>
                        <option value="3">Green</option>
                        <option value="4">Black</option>
                      </select>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <input type="text" name="pushups" value="" class="form-control input-lg" placeholder="Pushups">
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <input type="text" name="pullups" value="" class="form-control input-lg" placeholder="Pullups">
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 form-group">
                    <input type="submit" value="Submit" data-form="bachelorette" class="submit-form">
                  </div>
                  </form>
                </div>
              </div>


            </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/index.js"></script>

</body>

</html>