<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Bachelor Eliminator Predictor</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body id="page-top">
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 my-auto">
          <div class="header-content">
            <h1 class="mb-5">Find out what week you'll be eliminated on The Bachelor or Bachelorette.</h1>
            <a href="#forms" class="btn btn-outline btn-xl js-scroll-trigger">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="forms">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h2 class="section-heading">I want to be a contestant on: </p>
            <div class="buttons">
              <a href="#bachelorButton" class="ml-3 btn btn-outline btn-xl form-picker" data-show="bachelor">The Bachelor</a>
              <a href="#bacheloretteButton" class="btn btn-outline btn-xl form-picker" data-show="bachelorette">The Bachelorette</a>

              <div class="row">
                <div class="col-12" id="bachelor-form">
                    <form action="/sendbachelorette" method="POST">
                      <div class="row form-group">
                        <div class="col-xs-4 col-md-4">
                          <input type="text" name="name" value="" class="form-control input-lg" placeholder="Name"> </div>
                        <div class="col-xs-4 col-md-4">
                          <input type="text" name="age" value="" class="form-control input-lg" placeholder="Age"> </div>
                        <div class="col-xs-4 col-md-4">
                          <label>
                            Occupation:</label>
                          <select name="occupation">
                            <option>Service</option>
                            <option>Corporate</option>
                            <option>Entertainment</option>
                            <option>Medicine</option>
                            <option>Retail</option>
                            <option>Entrepreneur</option>
                            <option>Education</option>
                            <option>Child Care</option>
                          </select>
                        </div>
                      </div>
  
                      <div class="row form-group">
                        <div class="col-xs-4 col-md-4">
                          <input type="text" name="hometown" value="" class="form-control input-lg" placeholder="Hometown">
                        </div>
                        <div class="col-xs-4 col-md-4">
                          <input type="text" name="height" value="" class="form-control input-lg" placeholder="Height (In)">
                        </div>
                        <div class="col-xs-4 col-md-4">
                          <input type="text" name="weight" value="" class="form-control input-lg" placeholder="Weight (In)">
                        </div>
                      </div>
  
                      <div class="row form-group">
                          <div class="col-xs-3 col-md-3">
                            </div>
                        <div class="col-xs-3 col-md-3">
                          <label>Hair Color</label>
                          <select name="hairColor">
                            <option>Blonde</option>
                            <option>Black</option>
                            <option>Brunette</option>
                            <option>Red</option>
                          </select>
                        </div>
                        <div class="col-xs-3 col-md-3">
                          <label>Eye Color</label>
                          <select name="eyeColor">
                            <option>Blue</option>
                            <option>Brown</option>
                            <option>Green</option>
                            <option>Black</option>
                          </select>
                          <div class="col-xs-3 col-md-3">
                            </div>
                        </div>
                    
                      </div>
                      <div class="col-xs-12 col-md-12 form-group">
                      <input type="submit" value="Submit">
                      </div>
  
  
                    </form>
                </div>
                <div class="col-12" id="bachelorette-form">
                  <form action="/sendbachelorette" method="POST">
                    <div class="row form-group">
                      <div class="col-xs-4 col-md-4">
                        <input type="text" name="name" value="" class="form-control input-lg" placeholder="Name"> </div>
                      <div class="col-xs-4 col-md-4">
                        <input type="text" name="age" value="" class="form-control input-lg" placeholder="Age"> </div>
                      <div class="col-xs-4 col-md-4">
                        <label>
                          Occupation:</label>
                        <select name="occupation">
                          <option>Service</option>
                          <option>Corporate</option>
                          <option>Entertainment</option>
                          <option>Medicine</option>
                          <option>Retail</option>
                          <option>Entrepreneur</option>
                          <option>Education</option>
                          <option>Child Care</option>
                        </select>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-xs-4 col-md-4">
                        <input type="text" name="hometown" value="" class="form-control input-lg" placeholder="Hometown">
                      </div>
                      <div class="col-xs-4 col-md-4">
                        <input type="text" name="height" value="" class="form-control input-lg" placeholder="Height (In)">
                      </div>
                      <div class="col-xs-4 col-md-4">
                        <input type="text" name="weight" value="" class="form-control input-lg" placeholder="Weight (In)">
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-xs-3 col-md-3">
                        <label>Hair Color</label>
                        <select name="hairColor">
                          <option>Blonde</option>
                          <option>Black</option>
                          <option>Brunette</option>
                          <option>Red</option>
                        </select>
                      </div>
                      <div class="col-xs-3 col-md-3">
                        <label>Eye Color</label>
                        <select name="eyeColor">
                          <option>Blue</option>
                          <option>Brown</option>
                          <option>Green</option>
                          <option>Black</option>
                        </select>
                      </div>
                      <div class="col-xs-3 col-md-3">
                        <input type="text" name="pushups" value="" class="form-control input-lg" placeholder="Pushups">
                      </div>
                      <div class="col-xs-3 col-md-3">
                        <input type="text" name="pullups" value="" class="form-control input-lg" placeholder="Pullups">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-group">
                    <input type="submit" value="Submit">
                    </div>


                  </form>
                </div>
              </div>


            </div>
        </div>
      </div>
    </div>
  </section>





  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/index.js"></script>

</body>

</html>